/* .container {
  margin: 20px auto;
  background: #fff;
  padding: 0;
  border-radius: 7px;
} */

.container {
  margin: 30px auto;
  padding: 0 !important;
  border-radius: 7px !important;
  align-items: center;
}

.profile-img {
  width: 50px;
  height: 50px;
}

.settings-tray {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
}

.settingsIcon {
  position: relative;
  top: 10px;
  cursor: pointer;
  background: #eee;
  float: right;
}

.settingsIcon:hover {
  transition: 0.3s ease;
  color: #74b9ff;
}

.search-box {
  background: #fafafa;
  padding: 10px 13px;
}

.conversations-container {
  height: calc(100vh - 200px) !important;
  overflow-y: scroll;
}

.conversations-container::-webkit-scrollbar {
  width: 7px;
}

.conversations-container::-webkit-scrollbar-thumb {
  background: #eee;
}

.conversations-container::-webkit-scrollbar-track {
  background: #fafafa;
}

.conversation {
  padding: 10px 15px;
  display: flex;
  vertical-align: baseline;
  cursor: pointer;
  background: white;
  /* border-bottom: 1px solid rgb(192, 192, 192); */
}

.conversation:hover,
.conversation:hover .conversation-user-text,
.conversation:hover .time,
.conversation:hover .message-preview,
.conversation:hover .user-fullname {
  transition: 0.3s ease;
  background: #74b9ff !important;
  color: #fff !important;
}

.conversation-user-text {
  margin-left: 12px;
  width: 80%;
  float: left;
  background: white;
}

.time {
  float: right;
}

.user-fullname {
  margin-top: 6px;
}

.message-preview {
  margin: 0;
}

hr {
  margin-left: 20% !important;
  margin-top: 3% !important;
  margin-bottom: 3% !important;
  width: 60%;
}

.upper-chat {
  background: #eee;
  padding: 10px 15px;
  border-radius: 7px;
  display: flex;
  float: left;
  width: 100%;
  align-items: center;
}

.user-fullname-upper-chat {
  background: #eee;
  margin-top: 7px;
  margin-left: 10px;
}

.chat-panel {
  height: calc(100vh - 200px);
  width: 100%;
  background: white;
  overflow-y: scroll;
}

.message-wrapper {
  /* margin-top: 50px; */
  padding: 10px 10px;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 3px 15px;
  border-radius: 9px;
  width: 30%;
  /* animation: fadeIn 1s ease-in; */
}

.chat-bubble-text-left {
  background: #eee;
}

.chat-bubble-right {
  margin-left: 67%;
  background: #74b9ff;
  color: white;
}

.chat-bubble-text-right {
  background: #74b9ff;
}

.chat-panel::-webkit-scrollbar {
  width: 7px;
}

.chat-panel::-webkit-scrollbar-thumb {
  background: #eee;
}

.chat-panel::-webkit-scrollbar-track {
  background: #fafafa;
}

.send-message-box {
  display: flex;
  background: #eee;
  padding: 10px 13px;
  align-items: center;
}

.input-message {
  width: 90% !important;
}

.send-icon {
  background: #eee;
  margin-left: 20px;
  cursor: pointer;
}

.send-icon:hover {
  transition: 0.3s ease;
  color: #74b9ff;
}

.chat-panel .col-4 {
  background: white;
}
