.message-wrapper {
  /* margin-top: 50px; */
  padding: 10px 10px;
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 3px 15px;
  border-radius: 9px;
  /* overflow: auto; */
  /* width: 30%; */
  /* animation: fadeIn 1s ease-in; */
  width: fit-content;
}

.chat-bubble-text-left {
  background: #eee;
  /* display: inline; */
  /* float: left; */
}

.chat-bubble-right {
  /* margin-left: 67%; */
  float: right;
  background: #74b9ff;
  color: white;
}

.chat-bubble-text-right {
  background: #74b9ff;
  display: inline-block;
  /* width: fit-content; */
}
