.message-wrapper {
  /* margin-top: 50px; */
  padding: 10px 10px;
  /* display: flex; */
  /* justify-content: space-between; */
}

.chat-bubble {
  padding: 10px 14px;
  background: #eee;
  margin: 3px 15px;
  border-radius: 9px;
  /* overflow: auto; */
  /* width: 30%; */
  /* animation: fadeIn 1s ease-in; */
  width: fit-content;
}

.chat-bubble-text-left {
  background: #eee;
  /* display: inline; */
  /* float: left; */
}
/* .chat-bubble-left {
  float: left;
} */
.chat-bubble-right {
  /* float: right; */
  margin-left: auto;
  margin-right: 0;
  background: #74b9ff;
  color: white;
}

.chat-bubble-text-right {
  /* float: right; */

  background: #74b9ff;
  display: inline-block;
  /* width: fit-content; */
}
