.tab {
  margin: 0px;
  padding: 7px;

  font-weight: 500;
}
.conversations-container {
  height: calc(100vh - 200px) !important;
  overflow-y: scroll;
}

.conversations-container::-webkit-scrollbar {
  width: 7px;
}

.conversations-container::-webkit-scrollbar-thumb {
  background: #eee;
}

.conversations-container::-webkit-scrollbar-track {
  background: #fafafa;
}
